.What-main{
width: 1440px;
height: 544px;
padding: 64px 100px 64px 100px;
background-color: #010208 ;
}

.What-inner{
width: 1240px;
height: 416px;
gap: 32px;
display: grid;

}
.What-under1{
    width: 1240px;
    height: 48px;
    gap: 8px;
    display: flex;
}
.What-under1-heading{
    width: 320px;
    height: 48px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF ;
}
.What-under2{
    
    width: 1240px;
height: 264px; 
padding:16px 0 16px 0px ;
gap: 32px;
display: flex;
align-items: center;
justify-content: space-between;
}
.What-profile{
    
    width: 498px;
    height: 176px; 
    padding:16px 0 16px 0px ;
    gap: 4px;
    
}
.What-profile-box{
    
    width: 218px;
    height: 64px; 
    gap: 16px;
    display: flex;
}
.What-image img{
    
    width: 64px;
    height: 64px; 
    border-radius: 100px;
}
.What-name-box{
    
    width: 138px;
    height: 63px; 
    
}
.What-name{
    
    width: 138px;
    height: 32px; 
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.What-content-name{
    
    width: 45px;
    height: 27px; 
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #CBCBCB;
}
.What-contant{
    width: 710px;
    height: 232px; 
    padding-top:32px ;
    gap: 8px; 
    
}
.What-contant-para{
    width: 710px;
    height: 200px; 
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0%;
    color: #FFFFFF;    
    
}
.What-main-btn-box{
    width: 1240px;
height: 40px;
display: flex;
justify-content: center; 
}
.What-button-box{
   
width: 96px;
height: 40px; 
display: flex;
gap: 16px;
}
.What-button-box button{
   width: 40px;
  height: 40px;
  border-radius: 100px; /* or 50% to make it a perfect circle */
  background-color: #FFFFFF;
  border: #FFFFFF;

}
