.main1{
    display: block;
    width: 1440px;
    height:810px;
    background-color:#010208 ;
    padding: 176px 100px 176px 100px;

}
.main2{
    
     display: block;
    width: 1240px;
    height: 458px;
    gap:112px;
    
}
.inner1{
    margin-top: 100px;
    width: 1240px;
    height: 274px;
    text-align: center;
    
    
    
}
#contant{
    width: 317px;
    height:80px;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.logo img{
    width: 128px;
    height:64px;
    border-radius: 100px;
}
#contant1{
    width: 672px;
    height: 80px;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
}
#contant2{
    width: 572px;
    height: 80px;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
}
#contant3{
    width: 338px;
    height: 80px;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
}
#contant4{
    width: 900px;
    height: 80px;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.inner2{
   display: flex;
   align-items:flex-end;
    /* border: 2px solid greenyellow; */
    width: 1240px;
    height: 72px;
    gap: 32px;
    
   
}
.data1{
    width: 716px;
    height: 64px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.data2{
    
    display: grid;               /* or grid */
gap: 32px;
width: 492px;
height: 72px;

font-weight: 400;
font-size: 16px;
line-height: 100%;
color: #CBCBCB;
}