
.syne-uniquifier {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
    font-family: Syne;
    margin: 0;
    padding: 0;
}
.maincolor{
    background-color: #010208;
    
}